<head>
  <title>Check Session Iframe</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js" type="text/javascript"></script>
</head>
<body>
  <script type="text/javascript">
    
  // http://stackoverflow.com/questions/10730362/get-cookie-by-name
  function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
  }
    
    function get_op_browser_state() {
      var opbs = getCookie('opbs');
      
      return opbs;
    }
    
    (function(window, document) {
      window.addEventListener("message", function(e) {
        //console.log('IDP RX MSG:');
        //console.log('  ' + e.origin)
        //console.log('  ' + e.data);
        //console.log('WP ORIGIN:  ' + window.parent.origin);
        
        // TODO: Validate origin
        
        var comps = e.data.split(' ');
        
        var clientID = comps[0];
        var sessionState = comps[1];
        var salt = sessionState.split('.')[1];
        
        //console.log(clientID)
        //console.log(sessionState);
        //console.log(salt);
        
        var opbs = get_op_browser_state();
        
        var ss = CryptoJS.SHA256(clientID + ' ' + e.origin + ' ' +
          opbs + ' ' + salt) + "." + salt;
        
        //console.log('computed: ' + ss);
        
        
        var stat = 'unchanged';
        if (sessionState !== ss) {
          stat = 'changed';
        }
        
        e.source.postMessage(stat, e.origin);
      });
    })(this, this.document);
  </script>
</body>